body{
  font-family: 'Noto Sans', sans-serif;
  margin: 0 .5rem;
  height: 100%;
  background: linear-gradient(to bottom, #92d2ac 0%,#66b6b6 100%);
  background-repeat:no-repeat;
}

.pokemoncard{
  /* border: 1px solid black; */
  display: grid;
    justify-content: center;
}

.pokemoncard a{
text-align: center;
text-decoration: none;
}

.pokeCP{
color: #99a9aa;
font-size: .75rem;
text-align: center;
}

.pokeName, .pokeCP > span{
font-weight: 600;
font-size: 1rem;
color: #4c686b;
}

img{
min-width: 30px;
min-height: 30px;
margin: auto;
}

.wrapper {
display: grid;
grid-template-columns: 33% 33% 33%;
justify-content: center;
background-color: white;
}
